extends ../layout 
 
block content 
    section
      .row
        .col-lg-8

          .card.wish-list.mb-3
            .card-body
              h5.mb-4
                | Seller (
                span 
                |  Cart)
              
              .row.mb-4
                .col-md-5.col-lg-3.col-xl-3
                  .view.zoom.overlay.z-depth-1.rounded.mb-3.mb-md-0
                    img.img-fluid.w-100(src="https://impreza15.us-themes.com/wp-content/uploads/2020/11/hoodie_3_front.jpg" alt="Sample")
                    a(href="#!")
                        .mask.rgba-black-slight.waves-effect.waves-light
                .col-md-7.col-lg-9.col-xl-9
                  div
                    .d-flex.justify-content-between
                      div
                        h5 Blue denim shirt
                

                      .button 
                       button.btn-dark Add to cart



              .hr.mb-4
              .row.mb-4
                .col-md-5.col-lg-3.col-xl-3
                  .view.zoom.overlay.z-depth-1.rounded.mb-3.mb-md-0
                    img.img-fluid.w-100(src="https://impreza15.us-themes.com/wp-content/uploads/2020/11/hoodie_1_front.jpg" alt="Sample")
                    a(href="#!")
                        .mask.rgba-black-slight.waves-effect.waves-light
                .col-md-7.col-lg-9.col-xl-9
                  div
                    .d-flex.justify-content-between
                      
                      .button 
                       button.btn-dark Add to cart   
        



              .hr.mb-4
              .row.mb-4
                .col-md-5.col-lg-3.col-xl-3
                  .view.zoom.overlay.z-depth-1.rounded.mb-3.mb-md-0
                    img.img-fluid.w-100(src="https://gilleons-hope.com/wp-content/uploads/2016/10/T_1_front-3.jpg" alt="Sample")
                    a(href="#!")
                        .mask.rgba-black-slight.waves-effect.waves-light
                .col-md-7.col-lg-9.col-xl-9
                  div
                    .d-flex.justify-content-between
                      div
                        h5 Red hoodie
                        p.mb-3.text-muted.text-uppercase.small Shirt - Woo
                        p.mb-2.text-muted.text-uppercase.small Color: red

                      p.mb-0
                        span
                          strong $35.9
                      .button 
                       button.btn-dark Add to cart     
        


              .hr.mb-4
              .row.mb-4
                .col-md-5.col-lg-3.col-xl-3
                  .view.zoom.overlay.z-depth-1.rounded.mb-3.mb-md-0
                    img.img-fluid.w-100(src="https://wsdesk.elextensions.com/wp-content/uploads/2018/05/Woo-Hoodie-Green.jpg" alt="Sample")
                    a(href="#!")
                        .mask.rgba-black-slight.waves-effect.waves-light
                .col-md-7.col-lg-9.col-xl-9
                  div
                    .d-flex.justify-content-between
                     
                      .button 
                       button.btn-dark Add to cart

                          
              hr.mb-4
              .row.mb-4
                .col-md-5.col-lg-3.col-xl-3
                  .view.zoom.overlay.z-depth-1.rounded.mb-3.mb-md-0
                    img.img-fluid.w-100(src="https://impreza15.us-themes.com/wp-content/uploads/2020/11/T_5_front.jpg" alt="Sample")
                    a(href="#!")
                        .mask.rgba-black-slight.waves-effect.waves-light
                .col-md-7.col-lg-9.col-xl-9
                  div
                    .d-flex.justify-content-between
                      
                      .button 
                       button.btn-dark Add to cart
      
                
                          //-------------------------//


              hr.mb-4
              .row.mb-4
                .col-md-5.col-lg-3.col-xl-3
                  .view.zoom.overlay.z-depth-1.rounded.mb-3.mb-md-0
                    img.img-fluid.w-100(src="https://impreza15.us-themes.com/wp-content/uploads/2020/11/T_2_front.jpg" alt="Sample")
                    a(href="#!")
                        .mask.rgba-black-slight.waves-effect.waves-light
                .col-md-7.col-lg-9.col-xl-9
                  div
                    .d-flex.justify-content-between
                    
                      .button 
                       button.btn-dark Add to cart  
            
      
                