* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

.bg-nav {
  background-color: brown;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.addchart {
  background-color: black;
  color: black;
}
